[submodule "pkg/api/spec-v0.3"]
	path = pkg/api/spec-v0.3
	url = https://github.com/cdevents/spec
	branch = spec-v0.3
[submodule "pkg/api/spec-v0.4"]
	path = pkg/api/spec-v0.4
	url = https://github.com/cdevents/spec
	branch = spec-v0.4
