name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - README.md
      - .gitignore
  merge_group:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      GOPATH: /home/runner/go

    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        submodules: recursive
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: './.go-version'
        check-latest: true

    - name: Format check
      run: make fmt

    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: v2.2
        args: --build-tags testonly

    - name: Check generated code
      run: make generate
