name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - README.md
      - .gitignore
  merge_group:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      GOPATH: /home/runner/go

    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: recursive
        persist-credentials: false

    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: './.go-version'
        check-latest: true

    - name: Format check
      run: make fmt

    - name: golangci-lint
      uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
      with:
        version: v2.2
        args: --build-tags testonly

    - name: Check generated code
      run: make generate
